[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
flask = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"

[requires]
python_full_version = "3.11"
